/* This is how you make a comment */
/* *{
  border: 1px solid red
} */
body {
  font-family: Roboto, sans-serif;
  margin: 0;
  min-height: 100vh;
  /* display: grid; */
}

/* HEADER STYLE */

.header{
  display: flex;
  background-color: #1F2937;
}
.header-list {
  display: flex;
  padding-left: 0px;
  gap: 20px;
  font-size: 18px;
}
a {
  text-decoration: none;
  color: white;
}

.left{
  align-content: flex-start;
  margin-left: 20px;
  font-weight: bold;
  color: white;
  font-size: 24px;
  margin-top: 20px;
}
.right{
  display: flex;
  margin-left: auto;
  margin-right: 20px;
}
.box{
  display: flex;
  border: 1px solid gray;
  background-color: gray;
  height: 30vh;
  width: 80vh;
  justify-content: center;
  align-items: center;
}



/* footer style*/

.footer{
  height: auto;
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: #1F2937;
  padding: 10px;
  color: white;
  margin-top: auto;
}

/* container1 style*/

.container {
  display: flex;
  background-color: #1F2937;
  color: white;
}
.text {
  font-size: 48px;
  font-weight: 900;
}
.left-container {
  display: grid;
  flex-direction: column;
  flex-wrap: wrap;
  flex-basis: 40%;
  margin-left: 20px;
}
.right-container {
  display: flex;
 flex-basis: 50%;
 justify-content: center;
 align-items: center;
 margin-left: auto;
}
button {
  background-color: blue;
  color: white;
  border-radius: 5px;
  border: none;
  width: 100px;
}
.subtext {
  font-size: smaller;
  max-width: 70vh;
}

/* container2 style*/

.container2 {
  background-color: white;
  display: flex;
  flex-direction: column;
}
.title {
  display: flex;
  font-size: 36px;
  color : #1F2937;
  font-weight: 900;
  justify-content: center;
  margin: 50px;
}
.item-container {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.item {
  max-width: 50vh;
  justify-content: center;
  align-items: center;
}
.empty-box {
  margin: 0;
  width: 20vh;
  height: 20vh;
  border: 3px solid royalblue;
  padding: 0;
  border-radius: 10px;
}

/* container3 style */

.container3 {
  background-color: #E5E7EB;
}
.paragraph {
  margin: auto;
  font-size: 24px;
  font-style: italic;
  display: flex;
  justify-content: center;
  width: 120vh;
  padding: 50px;
}
.quote {
  text-align: center;
  margin-left: auto;
  max-width: 50%;
  font-weight: bold;
  
}

/* container4 style */

.container4 {
  background-color: blue;
  width: 200vh;
  border-radius: 5px;
  color: white;
  margin-left: 40vh;
  padding: 10px;
  height:100px;
  display: flex;
}
.left-container2{
  display: grid;
  flex-direction: column;
  padding-left: 30px;
}
.title2 {
  font-weight: bold;
  font-size: large;
  align-content: center;
}
.subtitle2 {
  font-size: small;
}
.right-container2{
  margin: auto;
}
.button2 {
  border: 1px solid white;
  border-radius: 5px;
  padding-right: 5vh;
  padding-left: 5vh;
}



  

